/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/* Common */
li {
  list-style: none;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 8px;
}

.p-t-16 {
  padding-top: 16px;
}

.p-b-16 {
  padding-bottom: 16px;
}

.p-l-16 {
  padding-left: 16px;
}

.p-r-16 {
  padding-right: 16px;
}

.p-tb-16 {
  padding: 16px 0;
}

.p-lr-16 {
  padding: 0 16px;
}

.row {
  margin-left: -16px;
  margin-right: -16px;
}

.col {
  float: left;
  padding: 0 16px;
}

.col-1-2 {
  width: 50%;
}

.col-1-3 {
  width: calc(100% / 3);
}

.col-2-3 {
  width: calc(200% / 3);
}

.col-1-4 {
  width: 25%;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.pull-right {
  float: right !important;
  margin-left: auto;
}

.btn {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 8px;
  background-color: rgba(150, 150, 150, 0.1);
  border-radius: 100px;
  box-shadow: rgb(150 150 150 / 50%) 0px 1px 10px;
  color: black;
  border: 4px solid rgba(50, 50, 50, 0.2);
  display: inline-block;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  transition: all 200ms;
}

.btn:hover,
.btn.active {
  background-color: rgba(0, 100, 0, 0.6);
  color: white;
  border: 4px solid rgba(200, 200, 200, 0.5);
  box-shadow: rgb(150 150 150 / 50%) 0px 1px 10px;
  transform: scale(1.1);
  cursor: pointer;
  margin-right: 16px;
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
}

a.text-link {
  text-decoration: none;
  color: black;
}

a.text-link:hover {
  font-weight: bold;
  cursor: pointer;
}

.h3-header {
  color: green;
  font-weight: bold;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
}

.score {
  display: inline-block;
  line-height: 40px;
  width: 48px;
  text-align: center;
  border-radius: 50%;
  background: rgba(0, 100, 0, 0.5);
  border: 4px solid rgba(200, 200, 200, 0.5);
  box-shadow: rgb(150 150 150 / 50%) 0px 1px 10px;
  font-weight: bold;
  color: white;
}

.primary-text {
  margin-top: 8px;
  display: inline-block;
  text-align: center;
  padding: 8px 12px;
  border-radius: 20px;
  background: rgba(0, 100, 0, 0.5);
  border: 4px solid rgba(200, 200, 200, 0.5);
  box-shadow: rgb(150 150 150 / 50%) 0px 1px 10px;
  font-weight: bold;
  color: white;
  line-height: 32px;
}

.sub-header {
  font-style: italic;
  opacity: 0.6;
  letter-spacing: 2px;
}

.box-container {
  text-align: left;
  background-color: rgba(200, 200, 200, 0.5);
  border: 4px solid rgba(50, 50, 50, 0.2);
  color: black;
  box-shadow: rgb(150 150 150 / 50%) 0px 1px 10px;
  border-radius: 20px;
  padding: 16px;
  padding: 16px;
}

/* Main */
#main {
}

/* Header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  background-color: white;
  border-bottom: 1px solid #ccc;

  display: flex;
  align-items: center;
  padding: 0 16px;
}

#header .header-avatar {
  text-align: center;
  padding: 8px;
  color: green;
}

#header .header-avatar img {
  height: 80px;
  border-radius: 50%;
  border: 4px solid rgba(0, 100, 0, 0.6);
}

#header .header-avatar:hover {
  transform: scale(1.1);
}

/* Nav */
#nav {
}

#nav .nav-item {
  display: inline;
  font-size: 20px;
  padding:  16px;
}

#nav .nav-text{
  color: green;
  font-weight: bold;
}

#nav .nav-text:hover{
  color: rgba(0, 100, 0, 0.6);
}

/* Content */
#content {
}

#content .content-child {
  padding-top: 100px;
  min-height: 800px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#content .content-heading h1 {
  text-transform: uppercase;
  letter-spacing: 8px;
}

#content .content-heading {
  background-color: rgba(0, 100, 0, 0.6);
  color: white;
  border: 4px solid rgba(200, 200, 200, 0.5);
  box-shadow: rgb(150 150 150 / 50%) 0px 1px 10px;

  border-radius: 20px;
  display: inline-block;
  padding: 8px 20px;
  width: 100%;
}

#content .about-me-content {
  font-size: 20px;
  letter-spacing: 2px;
}

#content .about-me-content i {
  width: 32px;
}

#content .learning-process {
  margin-top: 32px;
}

.semester > h5 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.semester > p {
  margin-left: 16px;
  line-height: 1.6;
}

.current-learning-details > p {
  font-weight: bold;
}

.col-list .col-list-item {
  width: 20%;
  transition: all 250ms;
}

.col-list .col-list-item i, .col-list-item-detail-heading i {
  float: left;
  line-height: 32px;
}

.col-list .col-list-item-detail {
  width: 70%;
  display: none;
  animation: scale-X ease 0.25s;
}

.col-list .col-list-item:hover {
  transform: scale(1.1);
}

.col-list .col-list-item:hover + .col-list-item-detail {
  display: block !important;
}

.col-list-item-detail-heading {
  width: 100%;
}

.col-list-item-detail p{
  margin-left: 16px;
  padding: 16px 0;
}

.col-list-item-detail p i{
  color: green;
}

@keyframes scale-X {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
  }
}
